@font-face {
    font-family: 'Sansita One';
    src: url('SansitaOne.woff2') format('woff2'),
        url('SansitaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

